.col-full {
    width: 100%;
    float: left;
}
.margin-left-20 
{
	margin-left:20px;
}
.col-md-2
{
	width:20%;
}
.grid-view .summary
{
	display:none;
}
.panel-body.scroll-active
{
	overflow-x:auto;
}
div.form-actions.input-button 
{   margin-top:10px;
	float: left;
	width: 100%;
}


