/*Added by kfallas*/
.navbar-default {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  box-shadow: none;
}

.navbar-collapse {
	padding: 0px;
}

.nav-navlist {
	width: 100%;
}