/*Added by kfallas*/
.navbar-default {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  box-shadow: none;
}

.navbar-collapse {
	padding: 0px;
}

.nav-navlist {
	width: 100%;
}

.navCustom {
	cursor: pointer;
	list-style-type: none;
	font-size: 18px;
	font-style: bold;
	margin: 7.5px -15px;
}

.dropdown-menu, #logClass nav .navbar-nav {
	background-color: #3D4A5D;
}

.navbar-default .navbar-nav > li > a:hover, .navbar a:hover{
	color: #48C9B0;
}

.navbar-default .navbar-nav > li > a, .navbar a{
	color: white;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 50%;
}

.navbar-header {
	display: none;
}